/eog_cop.csv
/Gruppa_4_KorenyuginaLM_AD_4_DDZ_slozhnaya_zadacha_10.py
/Gruppa_4_KorenyuginaLM_AD_4_DDZ_slozhnye_zadachi_9-10.py
/Gruppa_4_KorenyuginaLM_AD_4_Laboratornaya_rabota_7.py
/Hamlet.txt
/БД.drawio